@charset "UTF-8";
body {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #cccccc;
    position: absolute;
    overflow: hidden;
}

#content img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.run{
    -webkit-animation: run 1s;
    -moz-animation: run 1s;
    -o-animation: run 1s;
    animation: run 1s;
}

@keyframes run{
    0%{left:0px}
    100%{left:100px}
}